@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: #1784A5;
    filter: alpha(opacity=50);
    opacity: .5;
}

.p{
TEXT-ALIGN: CENTER;
}

.capalogo{
    float: left;
    width: 50%;
}

#logo{
    display: block;
    float: left;
    height: 55px;
    
    width: 165px;
}
.fuente{
   font-family: 'THE CURIOUS INCIDENT.ttf';
   font-size: 20px;
    font-style:bold;
}


